In [9]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [10]:
df = pd.read_csv('../data/bank-additional.csv')

In [11]:
df.sample(5)

,Unnamed: 0,age,job,marital,education,default,housing,loan,contact,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y,date,latitude,longitude,id_
22196,22293,35.0,technician,SINGLE,professional.course,0.0,1.0,1.0,cellular,133,1,999,0,NONEXISTENT,1.4,"93,444","-36,1","4,963","5228,1",no,11-diciembre-2015,30.434,-114.627,83d5bddd-c24e-410a-8aaa-0345e519704b
35743,35887,52.0,unemployed,SINGLE,basic.4y,0.0,1.0,0.0,cellular,169,1,999,0,NONEXISTENT,-1.8,"92,893","-46,2",NaN,"5099,1",no,29-agosto-2016,34.543,-104.544,ee867662-e7cf-4926-b7e3-4ab90b6d28e8
14547,14644,33.0,services,MARRIED,high.school,0.0,0.0,0.0,cellular,85,8,999,0,NONEXISTENT,1.4,"93,918","-42,7","4,961","5228,1",no,5-agosto-2018,49.078,-81.301,25f41260-faa8-4d51-a864-9a19da9a9d2d
14652,14749,49.0,blue-collar,MARRIED,basic.6y,NaN,0.0,0.0,cellular,771,1,999,0,NONEXISTENT,1.4,"93,918","-42,7","4,957","5228,1",no,7-mayo-2019,27.701,-99.037,113c88fe-4c3b-4643-9164-cf726c2fbd9c
37754,37921,60.0,management,MARRIED,university.degree,0.0,1.0,1.0,telephone,225,1,999,0,NONEXISTENT,-3.4,"92,379","-29,8",NaN,"5017,5",no,27-septiembre-2019,25.520,-119.476,25ffd82c-4ca2-437c-885e-4c05db43ceb2

In [13]:
print(f'Nuestro conjunto de datos presenta un total de {df.shape[0]} filas y {df.shape[1]} columnas')

Nuestro conjunto de datos presenta un total de 43000 filas y 24 columnas

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43000 entries, 0 to 42999
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      43000 non-null  int64
 1   age             37880 non-null  float64
 2   job             42655 non-null  object
 3   marital         42915 non-null  object
 4   education       41193 non-null  object
 5   default         34019 non-null  float64
 6   housing         41974 non-null  float64
 7   loan            41974 non-null  float64
 8   contact         43000 non-null  object
 9   duration        43000 non-null  int64
 10  campaign        43000 non-null  int64
 11  pdays           43000 non-null  int64
 12  previous        43000 non-null  int64
 13  poutcome        43000 non-null  object
 14  emp.var.rate    43000 non-null  float64
 15  cons.price.idx  42529 non-null  object
 16  cons.conf.idx   43000 non-null  object
 17  euribor3m       33744 non-null  object
 18  nr.employed     43000 non-null  object
 19  y               43000 non-null  object
 20  date            42752 non-null  object
 21  latitude        43000 non-null  float64
 22  longitude       43000 non-null  float64
 23  id_             43000 non-null  object
dtypes: float64(7), int64(5), object(12)
memory usage: 7.9+ MB