# Cosas a limpiar

- ** Age ** -> Tiene 5120 nulos. El número es float, para la edad del cliente no es necesario
- ** job ** -> Tiene 345 nulos. CAmbiar admin. por administrative
- ** marital ** -> Esta en mayúsculas cambiar a minúsculas
- ** eduction ** -> Tiene 1807 nulos. Hay puntos separando las palabras cambiar '.' por '_'. 
- ** default ** -> Tiene 8981 nulos. Los valores tienen que ser 1 o 0, por lo que podemos cambiarlo de float a integer.
- ** housing ** -> Tiene 1026 nulos. Los valores tienen que ser 1 o 0, por lo que podemos cambiarlo de float a integer.
- ** loan ** -> Tiene 1026 nulos. Los valores tienen que ser 1 o 0, por lo que podemos cambiarlo de float a integer.
- ** cons.price.idx ** -> Tiene 471 nulos. Cambiar a tipo float cambiando ',' por '.'.
- ** cons.conf.idx ** -> Cambiar a tipo float cambiando ',' por '.'.
- ** euribor3m ** -> Tiene 9256 nulos. Cambiar a tipo float cambiando ',' por '.'.
- ** nr.employed ** -> Cambiar a tipo integer quitando las ','.
- ** date ** -> Tiene 248 nulos. Cambiar a tipo fecha.