In [ ]:
# Tratamiento de datos
import pandas as pd
pd.set_option('display.max_columns', None)
#----------------

# Exploraci√≥n de archivos
import sys
sys.path.append('../')
#----------------

# Funciones personalizadas
from src import sp_eda as se

In [2]:
df = pd.read_csv('../data/bank-additional.csv')

In [3]:
se.eda_preliminar(df)

,Unnamed: 0,age,job,marital,education,default,housing,loan,contact,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y,date,latitude,longitude,id_
38020,38187,37.0,housemaid,SINGLE,university.degree,0.0,1.0,0.0,cellular,89,1,999,1,FAILURE,-3.4,"92,431","-26,9","0,744","5017,5",no,4-septiembre-2018,25.597,-103.073,214422ba-4127-4171-8e75-e6e02f2d3292
4135,4232,31.0,unemployed,SINGLE,professional.course,0.0,0.0,0.0,telephone,20,12,999,0,NONEXISTENT,1.1,"93,994","-36,4","4,856",5191,no,10-septiembre-2015,45.855,-116.030,09709611-c708-487e-bcb0-168ff3390dd7
7889,7986,49.0,technician,MARRIED,professional.course,0.0,0.0,0.0,telephone,147,1,999,0,NONEXISTENT,1.4,"94,465","-41,8","4,865","5228,1",no,2-mayo-2015,29.226,-104.455,f92c5857-3f88-41a6-ba83-f54cbc1b7e0f
18016,18113,39.0,admin.,MARRIED,university.degree,NaN,1.0,0.0,telephone,197,4,999,0,NONEXISTENT,1.4,"93,918","-42,7","4,963","5228,1",no,5-mayo-2019,43.586,-98.379,9e305fa0-0b70-47e7-9a67-ebb6e8f8122c
31600,31744,NaN,blue-collar,MARRIED,basic.6y,0.0,0.0,0.0,cellular,490,1,999,0,NONEXISTENT,-1.8,"92,893","-46,2",NaN,"5099,1",no,9-abril-2018,47.056,-81.089,47f90629-9060-4768-b246-c6a7d7283aa5

--------------
DIMENSIONES
Nuestro conjunto de datos presenta un total de 43000 filas y 24 columnas
--------------
INFORMACION
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43000 entries, 0 to 42999
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      43000 non-null  int64
 1   age             37880 non-null  float64
 2   job             42655 non-null  object
 3   marital         42915 non-null  object
 4   education       41193 non-null  object
 5   default         34019 non-null  float64
 6   housing         41974 non-null  float64
 7   loan            41974 non-null  float64
 8   contact         43000 non-null  object
 9   duration        43000 non-null  int64
 10  campaign        43000 non-null  int64
 11  pdays           43000 non-null  int64
 12  previous        43000 non-null  int64
 13  poutcome        43000 non-null  object
 14  emp.var.rate    43000 non-null  float64
 15  cons.price.idx  42529 non-null  object
 16  cons.conf.idx   43000 non-null  object
 17  euribor3m       33744 non-null  object
 18  nr.employed     43000 non-null  object
 19  y               43000 non-null  object
 20  date            42752 non-null  object
 21  latitude        43000 non-null  float64
 22  longitude       43000 non-null  float64
 23  id_             43000 non-null  object
dtypes: float64(7), int64(5), object(12)
memory usage: 7.9+ MB

None

--------------
NULOS

age               11.91
job                0.80
marital            0.20
education          4.20
default           20.89
housing            2.39
loan               2.39
cons.price.idx     1.10
euribor3m         21.53
date               0.58
dtype: float64

--------------
DUPLICADOS
Tenemos un total de 0 duplicados
--------------
FRECUENCIA CATEGORICA
JOB
job
admin.           10873
blue-collar       9654
technician        7026
services          4162
management        3050
retired           1790
entrepreneur      1522
self-employed     1489
housemaid         1123
unemployed        1063
student            903
Name: count, dtype: int64
--------
MARITAL
marital
MARRIED     25999
SINGLE      12105
DIVORCED     4811
Name: count, dtype: int64
--------
EDUCATION
education
university.degree      12722
high.school             9925
basic.9y                6309
professional.course     5477
basic.4y                4356
basic.6y                2386
illiterate                18
Name: count, dtype: int64
--------
CONTACT
contact
cellular     27396
telephone    15604
Name: count, dtype: int64
--------
POUTCOME
poutcome
NONEXISTENT    37103
FAILURE         4461
SUCCESS         1436
Name: count, dtype: int64
--------
CONS.PRICE.IDX
cons.price.idx
93,994    7938
93,918    6937
92,893    5985
93,444    5349
94,465    4522
93,2      3731
93,075    2552
92,201     803
92,963     742
92,431     471
92,649     375
94,215     320
94,199     316
92,843     298
92,379     274
93,369     271
94,027     242
94,055     236
93,876     224
94,601     212
92,469     184
92,713     179
93,749     179
94,767     130
93,798      48
92,756      11
Name: count, dtype: int64
--------
CONS.CONF.IDX
cons.conf.idx
-36,4    8020
-42,7    7004
-46,2    6057
-36,1    5408
-41,8    4568
-42      3782
-47,1    2581
-31,4     815
-40,8     748
-26,9     477
-30,1     379
-40,3     328
-37,5     318
-50       299
-29,8     277
-34,8     275
-38,3     245
-39,8     239
-40       225
-49,5     214
-33,6     185
-34,6     183
-33       181
-50,8     133
-40,4      48
-45,9      11
Name: count, dtype: int64
--------
EURIBOR3M
euribor3m
4,857    2287
4,962    2124
4,963    2019
4,961    1594
4,964     964
         ...
5,045       1
4,921       1
0,895       1
0,956       1
0,953       1
Name: count, Length: 309, dtype: int64
--------
NR.EMPLOYED
nr.employed
5228,1    16980
5099,1     8937
5191       8020
5195,8     3830
5076,2     1748
5017,5     1133
4991,6      812
5008,7      683
4963,6      665
5023,5      181
5176,3       11
Name: count, dtype: int64
--------
Y
y
no     38156
yes     4844
Name: count, dtype: int64
--------
DATE
date
28-febrero-2018      95
28-febrero-2016      94
28-febrero-2015      92
28-febrero-2017      89
28-febrero-2019      85
                     ..
17-diciembre-2018    11
21-diciembre-2019    10
14-abril-2015        10
4-abril-2017         10
20-noviembre-2015    10
Name: count, Length: 1825, dtype: int64
--------
ID_
id_
089b39d8-e4d0-461b-87d4-814d71e0e079    1
e9d37224-cb6f-4942-98d7-46672963d097    1
3f9f49b5-e410-4948-bf6e-f9244f04918b    1
9991fafb-4447-451a-8be2-b0df6098d13e    1
eca60b76-70b6-4077-80ba-bc52e8ebb0eb    1
                                       ..
4eed05de-2a98-4227-b488-32122009b638    1
0f0aca88-4088-4fe2-905f-44fb675d9493    1
cadadd4b-7ee5-4019-b13a-ca01bb67ca5b    1
5f432048-d515-4bb5-9c94-62db451f88d4    1
993bbbd6-4dbc-4a40-a408-f91f8462bee6    1
Name: count, Length: 43000, dtype: int64
--------
--------------
DUPLICADOS
Tenemos un total de 0 duplicados
--------------
FRECUENCIA CATEGORICA
JOB
job
admin.           10873
blue-collar       9654
technician        7026
services          4162
management        3050
retired           1790
entrepreneur      1522
self-employed     1489
housemaid         1123
unemployed        1063
student            903
Name: count, dtype: int64
--------
MARITAL
marital
MARRIED     25999
SINGLE      12105
DIVORCED     4811
Name: count, dtype: int64
--------
EDUCATION
education
university.degree      12722
high.school             9925
basic.9y                6309
professional.course     5477
basic.4y                4356
basic.6y                2386
illiterate                18
Name: count, dtype: int64
--------
CONTACT
contact
cellular     27396
telephone    15604
Name: count, dtype: int64
--------
POUTCOME
poutcome
NONEXISTENT    37103
FAILURE         4461
SUCCESS         1436
Name: count, dtype: int64
--------
CONS.PRICE.IDX
cons.price.idx
93,994    7938
93,918    6937
92,893    5985
93,444    5349
94,465    4522
93,2      3731
93,075    2552
92,201     803
92,963     742
92,431     471
92,649     375
94,215     320
94,199     316
92,843     298
92,379     274
93,369     271
94,027     242
94,055     236
93,876     224
94,601     212
92,469     184
92,713     179
93,749     179
94,767     130
93,798      48
92,756      11
Name: count, dtype: int64
--------
CONS.CONF.IDX
cons.conf.idx
-36,4    8020
-42,7    7004
-46,2    6057
-36,1    5408
-41,8    4568
-42      3782
-47,1    2581
-31,4     815
-40,8     748
-26,9     477
-30,1     379
-40,3     328
-37,5     318
-50       299
-29,8     277
-34,8     275
-38,3     245
-39,8     239
-40       225
-49,5     214
-33,6     185
-34,6     183
-33       181
-50,8     133
-40,4      48
-45,9      11
Name: count, dtype: int64
--------
EURIBOR3M
euribor3m
4,857    2287
4,962    2124
4,963    2019
4,961    1594
4,964     964
         ...
5,045       1
4,921       1
0,895       1
0,956       1
0,953       1
Name: count, Length: 309, dtype: int64
--------
NR.EMPLOYED
nr.employed
5228,1    16980
5099,1     8937
5191       8020
5195,8     3830
5076,2     1748
5017,5     1133
4991,6      812
5008,7      683
4963,6      665
5023,5      181
5176,3       11
Name: count, dtype: int64
--------
Y
y
no     38156
yes     4844
Name: count, dtype: int64
--------
DATE
date
28-febrero-2018      95
28-febrero-2016      94
28-febrero-2015      92
28-febrero-2017      89
28-febrero-2019      85
                     ..
17-diciembre-2018    11
21-diciembre-2019    10
14-abril-2015        10
4-abril-2017         10
20-noviembre-2015    10
Name: count, Length: 1825, dtype: int64
--------
ID_
id_
089b39d8-e4d0-461b-87d4-814d71e0e079    1
e9d37224-cb6f-4942-98d7-46672963d097    1
3f9f49b5-e410-4948-bf6e-f9244f04918b    1
9991fafb-4447-451a-8be2-b0df6098d13e    1
eca60b76-70b6-4077-80ba-bc52e8ebb0eb    1
                                       ..
4eed05de-2a98-4227-b488-32122009b638    1
0f0aca88-4088-4fe2-905f-44fb675d9493    1
cadadd4b-7ee5-4019-b13a-ca01bb67ca5b    1
5f432048-d515-4bb5-9c94-62db451f88d4    1
993bbbd6-4dbc-4a40-a408-f91f8462bee6    1
Name: count, Length: 43000, dtype: int64
--------